<nav class="container">
  <div class="row">
    <div class="d-flex nav navbar navbar-expand-lg navbar-light  texl-md-center justify-content-md-between  justify-content-lg-between ">
      <div class="d-flex justify-content-betweenlogo-serch ">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.svg" alt="">
        </a>
        <form class="d-flex nav-serch d-sm-none">
          <div class="input-wrapper">
            <input class="form-control me-2 nav-input" type="search" placeholder="搜尋文章" aria-label="Search">
            <img src="/assets/images/search.svg" class="search-icon" alt="search">
          </div>
        </form>
        <!-- serch -->


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse noto-serif-tc" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="d-xxl-none d-xl-none d-lg-none d-md-none align-content-center ">
            <form class="d-flex nav-sm-serch justify-content-center ">
              <div class="input-wrapper">
                <input class="form-control me-2 nav-input" type="search" placeholder="搜尋文章" aria-label="Search">
                <img src="/assets/images/search.svg" class="search-icon" alt="search">
              </div>
            </form>
          </li>

          <li class="nav-item-n">
            <a class="noto-serif-tc fs-16 fw700 " href="#" aria-current="page">所有文章</a>
          </li>
          <li class="nav-item-n">
            <a class="noto-serif-tc fs-16 fw700 " href="#" aria-current="page">訂閱方案</a>
          </li>
          <li class="nav-item-n">
            <a class="noto-serif-tc fs-16 fw700 " href="#" aria-current="page ">關於我們</a>
          </li>
          <li class="nav-login">
            <a class="noto-serif-tc fs-16 fw700  font-color color-while ">登入 / 註冊</a>
          </li>
        </ul>
      </div>
    </div>

  </div>


</nav>