.nav {
  display: flex;
  justify-content: center;
}

.nav-item-n {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  margin-bottom: 0px;
  align-items: center;
}

.nav-logo-serch {
  justify-content: start;
}

.serch-icon {
  width: 24px;
  height: 24px;
}
.logo-serch{
  display: flex;
}

.nav-login {
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  background-color: $Accent-200;
  border-radius: 100px;
  color: $while;
  border: 0px;
  border-color: none;
}




.search-icon {
  align-items: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.nav-input {
  width: 276px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid $gary-DEE2E6;
  background:$while;
}

.nav-input::placeholder {
  font-family: "Noto Serif TC", serif;
  font-size: 16px;
  font-weight: bold;
  color:  $gray-ADB5BD;

}

.input-wrapper {
  position: relative;
}

.nav-input {
  padding-right: 40px;
}
@media (max-width:768px){
  .nav-login {
    padding: 16px 145px;
    justify-content: center;
    align-items: center;
    background-color: $Accent-200;
    border-radius: 100px;
    color: $while;
  }
  .nav-item-n {
    align-items: start;
    display: flex;
    padding: 8px 20px;
    margin-bottom: 10px;
    justify-content: center;
  }
  .nav-input {
    width: 365px;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid $gary-DEE2E6;
    background:$while;
  }

}
@media (max-width:576px) {
  .nav-login {
    padding: 16px 145px;
    justify-content: center;
    align-items: center;
    background-color: $Accent-200;
    border-radius: 100px;
    color: $while;
  }
  .nav-item-n {
    align-items: start;
    display: flex;
    padding: 8px 20px;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .nav-input {
    width: 365px;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid $gary-DEE2E6;
    background:$while;
  }
}